{{#each grids}}
<div class="grid-item mix {{tags}}">
    <a href="{{url}}">
        <div class="center">
            <i class="{{icon}}" aria-hidden="true"></i>
            <h4>{{title}}</h4>
            <small>{{description}}</small>
        </div>
    </a>
</div>
{{/each}}
